.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSecondary);
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  margin-bottom: 20px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}
